Source: whatmaps
Section: admin
Priority: extra
Maintainer: Guido Günther <agx@sigxcpu.org>
Build-Depends: debhelper (>= 7.0.50~), python-support, lsb-release
Standards-Version: 3.9.2
Homepage: https://honk.sigxcpu.org/piki/projects/whatmaps
Vcs-Git: git://honk.sigxcpu.org/git/whatmaps.git/

Package: whatmaps
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, lsb-release,
 python-apt
Description: Find processes mapping shared objects
 After package upgrades processes using a ahared library need to be
 restarted to make use of that updated library (e.g. if the library got a
 security upgrade).
 .
 Whatmaps looks for shared objects in packages and finds running programs that
 map them, list them and allows one to restart them.
 .
 It can be integrated with apt to automatically restart services automatically
 on security upgrades.
